database_url='postgresql+asyncpg://user:password@host_db'
rabbitmq_url='amqp://guest@rabbitmq:5672'
redis_url='redis://redis:6379/0'

#tg
telegram_api_id='id'
telegram_api_hash='hash'
telegram_session_name='session'
telegram_target_channel='channel'
#openai
openai_api_key='apikey'
openai_model=''
openai_max_tokens=300
#parser
parse_interval=30
max_news_per_source=10
#App
app_env='dev'
log_level='INFO'

POSTGRES_PASSWORD=password